html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Mucta' sans-serif;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(Background.png.webp);
    background-size: auto;
    background-repeat: repeat-y;
}

header {
   border: 1px solid red;
}

main {
    border: 1px solid red;
}

footer {
    border: 1px solid red;
}

.container {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.nav

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {

}

.nav-link {
    padding: 0 10px;
    line-height: 50px;
    font-size: 20px;
    transition: .3s;
}

.nav-list a{
   text-decoration: none;
   color: rgb(221, 221, 221);
}

.nav-list a:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.section {
    font-size: 24px;
    width: 50%;
}

code {
    display: block;
    width: 30%;
    background-color: rgb(221, 221, 221);
    border: 2px solid black;
}



