@font-face {
    font-family: "Roboto";
    src: url("./src/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url("./src/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto";
}
.header.main.footer {
    margin: 0;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: rgb(140, 140, 140);
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
/* .nav-item {
    width: auto;
} */
.nav-link {
    white-space: nowrap;
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    transition: 0.2s;
}
.nav-link:hover {
    color: white;
    transition: 0.2s;
    transition-timing-function: linear;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 1000px;
}

.left-block, .right-block {
    padding: 0 3%;
}

.left-block {
    width: 30%;
    background-color: rgb(140, 140, 140);
}
.right-block {
    width: 70%;
}

.avatar>img {
    height: 400px;
    position: relative;
    left: -30%;
}

.name.section-title {
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
}
.section-title {
    font-size: 32px;
    text-transform: uppercase;
}
.contact>p,
.contact>p>a {
    font-size: 24px;
}
.p {
    font-size: 24px;
}
.code>pre {
    margin-left: 20px;
    border-left: 4px solid rgb(140, 140, 140);
    font-size: 24px;
}
.footer {
    background-color: rgb(140, 140, 140);
}
.footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-github {
    display: flex;
    text-decoration: none;
    font-size: 24px;
    color: black;
}
.footer-github>img {
    height: 40px;
    margin-top: 20px;
}

.footer-date {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
}

.rs-link>img {
    height: 40px;
    margin-top: 20px;
}